---
import { SITE_TITLE } from "../consts"

const k =
  "M1 11C8 6.5 9 1 7 1C3 1 4.5 8 4 16C4.5 10.5 7.5 7 10 7C12 7 8 14 4 13C7.5 13.5 7.5 15.5 11 16"
const nameColor = "black"
const accent = "oklch(0.782 0.1617 71.6)" // Zig
---

<div
  style="display:flex;flex-direction:row;align-items:center;margin:36px 0 36px"
>
  <!-- Logo -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 13 17"
    fill="none"
    height="42"
    width="28"
    stroke={accent}
    style="margin:0 16px 3px 0"
  >
    <path d={k} stroke-linecap="round" stroke-width="1"></path>
  </svg>
  <!-- Name -->
  <svg
    width="146"
    height="28"
    viewBox="0 0 146 28"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M123.851 8.80001H125.991V10.64C126.151 10.2667 126.384 9.92001 126.691 9.60001C126.998 9.26668 127.398 9.00001 127.891 8.80001C128.384 8.58668 128.984 8.48001 129.691 8.48001C130.411 8.48001 131.051 8.62668 131.611 8.92001C132.184 9.21335 132.631 9.70001 132.951 10.38C133.284 11.0467 133.451 11.9533 133.451 13.1V20H131.311V13.36C131.311 12.7467 131.251 12.22 131.131 11.78C131.011 11.3267 130.791 10.98 130.471 10.74C130.151 10.4867 129.704 10.36 129.131 10.36C128.598 10.36 128.091 10.5133 127.611 10.82C127.131 11.1267 126.738 11.58 126.431 12.18C126.138 12.78 125.991 13.5267 125.991 14.42V20H123.851V8.80001Z"
      fill={nameColor}></path>
    <path
      d="M117.12 20.32C115.96 20.32 114.953 20.0733 114.1 19.58C113.247 19.0733 112.58 18.3733 112.1 17.48C111.633 16.5867 111.4 15.5667 111.4 14.42C111.4 13.26 111.633 12.2333 112.1 11.34C112.58 10.4467 113.247 9.74668 114.1 9.24001C114.953 8.73334 115.96 8.48001 117.12 8.48001C117.88 8.48001 118.593 8.62668 119.26 8.92001C119.927 9.21335 120.5 9.64668 120.98 10.22C121.46 10.7933 121.813 11.4933 122.04 12.32C122.267 13.1333 122.327 14.0667 122.22 15.12H112.62V13.32H121.02L120.12 13.94C120.16 13.3 120.067 12.72 119.84 12.2C119.613 11.6667 119.273 11.24 118.82 10.92C118.367 10.6 117.8 10.44 117.12 10.44C116.333 10.44 115.68 10.6133 115.16 10.96C114.64 11.3067 114.247 11.78 113.98 12.38C113.727 12.98 113.6 13.66 113.6 14.42C113.6 15.1667 113.727 15.84 113.98 16.44C114.247 17.04 114.64 17.5133 115.16 17.86C115.68 18.1933 116.333 18.36 117.12 18.36C117.907 18.36 118.527 18.18 118.98 17.82C119.447 17.4467 119.767 16.9933 119.94 16.46H122.22C122.047 17.2333 121.727 17.9067 121.26 18.48C120.807 19.0533 120.227 19.5067 119.52 19.84C118.827 20.16 118.027 20.32 117.12 20.32Z"
      fill={nameColor}></path>
    <path
      d="M101.791 24V22.16H103.091C103.571 22.16 103.938 22.06 104.191 21.86C104.445 21.6733 104.645 21.4133 104.791 21.08C104.951 20.76 105.098 20.3867 105.231 19.96L108.651 8.79999H110.971L107.371 20C107.158 20.6933 106.931 21.2867 106.691 21.78C106.465 22.2867 106.198 22.7 105.891 23.02C105.598 23.3533 105.225 23.6 104.771 23.76C104.331 23.92 103.778 24 103.111 24H101.791ZM104.371 20L100.771 8.79999H103.091L106.411 20H104.371Z"
      fill={nameColor}></path>
    <path
      d="M99.3095 20H97.1695V8.79999H99.3095V20ZM97.1695 14.38L97.4895 16.58C97.4895 16.9267 97.4295 17.3133 97.3095 17.74C97.1895 18.1667 96.9761 18.58 96.6695 18.98C96.3761 19.3667 95.9695 19.6867 95.4495 19.94C94.9295 20.1933 94.2695 20.32 93.4695 20.32C92.7495 20.32 92.1028 20.1733 91.5295 19.88C90.9695 19.5867 90.5228 19.1 90.1895 18.42C89.8695 17.74 89.7095 16.8333 89.7095 15.7V8.79999H91.8495V15.44C91.8495 16.0533 91.9095 16.5867 92.0295 17.04C92.1495 17.48 92.3628 17.8267 92.6695 18.08C92.9895 18.32 93.4361 18.44 94.0095 18.44C94.5561 18.44 95.0695 18.2867 95.5495 17.98C96.0295 17.6733 96.4161 17.22 96.7095 16.62C97.0161 16.0067 97.1695 15.26 97.1695 14.38Z"
      fill={nameColor}></path>
    <path
      d="M82.0063 19.92C80.9796 19.92 80.0863 19.6867 79.3263 19.22C78.5796 18.7533 77.9996 18.0933 77.5863 17.24C77.173 16.3733 76.9663 15.3667 76.9663 14.22C76.9663 13.06 77.173 12.0533 77.5863 11.2C77.9996 10.3333 78.5796 9.66668 79.3263 9.20001C80.0863 8.72001 80.9796 8.48001 82.0063 8.48001C83.3796 8.48001 84.4196 8.89334 85.1263 9.72001C85.833 10.5333 86.2663 11.66 86.4263 13.1L86.3863 15.38C86.3063 16.2733 86.1063 17.06 85.7863 17.74C85.4663 18.42 84.9996 18.9533 84.3863 19.34C83.773 19.7267 82.9796 19.92 82.0063 19.92ZM82.7863 24.32C81.5996 24.32 80.6396 24.1333 79.9063 23.76C79.173 23.3867 78.6196 22.9 78.2463 22.3C77.8863 21.7133 77.653 21.1067 77.5463 20.48H79.7663C79.8996 21.1333 80.2263 21.6067 80.7463 21.9C81.2663 22.2067 81.9463 22.36 82.7863 22.36C83.3596 22.36 83.853 22.26 84.2663 22.06C84.693 21.86 85.0196 21.54 85.2463 21.1C85.4863 20.6733 85.6063 20.1067 85.6063 19.4H87.7463C87.7463 20.4533 87.533 21.3467 87.1063 22.08C86.6796 22.8133 86.093 23.3667 85.3463 23.74C84.613 24.1267 83.7596 24.32 82.7863 24.32ZM82.2863 17.96C83.4063 17.96 84.2396 17.62 84.7863 16.94C85.333 16.26 85.6063 15.3533 85.6063 14.22C85.6063 13.0733 85.333 12.16 84.7863 11.48C84.2396 10.7867 83.4063 10.44 82.2863 10.44C81.3263 10.44 80.5663 10.7733 80.0063 11.44C79.4463 12.0933 79.1663 13.02 79.1663 14.22C79.1663 15.4067 79.4463 16.3267 80.0063 16.98C80.5663 17.6333 81.3263 17.96 82.2863 17.96ZM85.6063 19.4V8.80001H87.7463V19.4H85.6063Z"
      fill={nameColor}></path>
    <path
      d="M72.1637 20L64.9837 6H67.4037L74.5637 20H72.1637ZM64.2837 6H66.3637V20H64.2837V6ZM73.1837 6H75.2837V20H73.1837V6Z"
      fill={nameColor}></path>
    <path
      d="M52.3579 19.92C51.3312 19.92 50.4379 19.6867 49.6779 19.22C48.9312 18.7533 48.3512 18.0933 47.9379 17.24C47.5245 16.3733 47.3179 15.3667 47.3179 14.22C47.3179 13.06 47.5245 12.0533 47.9379 11.2C48.3512 10.3333 48.9312 9.66668 49.6779 9.20001C50.4379 8.72001 51.3312 8.48001 52.3579 8.48001C53.7312 8.48001 54.7712 8.89334 55.4779 9.72001C56.1845 10.5333 56.6179 11.66 56.7779 13.1L56.7379 15.38C56.6579 16.2733 56.4579 17.06 56.1379 17.74C55.8179 18.42 55.3512 18.9533 54.7379 19.34C54.1245 19.7267 53.3312 19.92 52.3579 19.92ZM53.1379 24.32C51.9512 24.32 50.9912 24.1333 50.2579 23.76C49.5245 23.3867 48.9712 22.9 48.5979 22.3C48.2379 21.7133 48.0045 21.1067 47.8979 20.48H50.1179C50.2512 21.1333 50.5779 21.6067 51.0979 21.9C51.6179 22.2067 52.2979 22.36 53.1379 22.36C53.7112 22.36 54.2045 22.26 54.6179 22.06C55.0445 21.86 55.3712 21.54 55.5979 21.1C55.8379 20.6733 55.9579 20.1067 55.9579 19.4H58.0979C58.0979 20.4533 57.8845 21.3467 57.4579 22.08C57.0312 22.8133 56.4445 23.3667 55.6979 23.74C54.9645 24.1267 54.1112 24.32 53.1379 24.32ZM52.6379 17.96C53.7579 17.96 54.5912 17.62 55.1379 16.94C55.6845 16.26 55.9579 15.3533 55.9579 14.22C55.9579 13.0733 55.6845 12.16 55.1379 11.48C54.5912 10.7867 53.7579 10.44 52.6379 10.44C51.6779 10.44 50.9179 10.7733 50.3579 11.44C49.7979 12.0933 49.5179 13.02 49.5179 14.22C49.5179 15.4067 49.7979 16.3267 50.3579 16.98C50.9179 17.6333 51.6779 17.96 52.6379 17.96ZM55.9579 19.4V8.80001H58.0979V19.4H55.9579Z"
      fill={nameColor}></path>
    <path
      d="M36.1558 8.80001H38.2958V10.64C38.4558 10.2667 38.6891 9.92001 38.9958 9.60001C39.3024 9.26668 39.7024 9.00001 40.1958 8.80001C40.6891 8.58668 41.2891 8.48001 41.9958 8.48001C42.7158 8.48001 43.3558 8.62668 43.9158 8.92001C44.4891 9.21335 44.9358 9.70001 45.2558 10.38C45.5891 11.0467 45.7558 11.9533 45.7558 13.1V20H43.6158V13.36C43.6158 12.7467 43.5558 12.22 43.4358 11.78C43.3158 11.3267 43.0958 10.98 42.7758 10.74C42.4558 10.4867 42.0091 10.36 41.4358 10.36C40.9024 10.36 40.3958 10.5133 39.9158 10.82C39.4358 11.1267 39.0424 11.58 38.7358 12.18C38.4424 12.78 38.2958 13.5267 38.2958 14.42V20H36.1558V8.80001Z"
      fill={nameColor}></path>
    <path
      d="M32.1049 13.6H34.2449V20H32.1049V13.6ZM29.6049 8.48001C31.1382 8.48001 32.2915 8.94001 33.0649 9.86001C33.8515 10.78 34.2449 12.0267 34.2449 13.6H32.1049C32.1049 12.9467 32.0249 12.3867 31.8649 11.92C31.7049 11.44 31.4382 11.0667 31.0649 10.8C30.7049 10.5333 30.2182 10.4 29.6049 10.4C28.7515 10.4 28.0982 10.6267 27.6449 11.08C27.2049 11.5333 26.9849 12.0867 26.9849 12.74H24.7249C24.7249 12.0067 24.9115 11.32 25.2849 10.68C25.6582 10.0267 26.2115 9.50001 26.9449 9.10001C27.6782 8.68668 28.5649 8.48001 29.6049 8.48001ZM32.2849 13.06L32.7049 14.62C30.8382 14.46 29.4582 14.5933 28.5649 15.02C27.6849 15.4333 27.2449 15.9933 27.2449 16.7C27.2449 17.2733 27.4249 17.7067 27.7849 18C28.1582 18.28 28.6715 18.42 29.3249 18.42C29.8582 18.42 30.3315 18.3133 30.7449 18.1C31.1715 17.8733 31.5049 17.5467 31.7449 17.12C31.9849 16.6933 32.1049 16.18 32.1049 15.58L32.6449 16.54C32.5649 17.2867 32.3782 17.9467 32.0849 18.52C31.7915 19.08 31.3782 19.52 30.8449 19.84C30.3115 20.16 29.6515 20.32 28.8649 20.32C28.1315 20.32 27.4715 20.1867 26.8849 19.92C26.2982 19.64 25.8315 19.24 25.4849 18.72C25.1515 18.2 24.9849 17.5667 24.9849 16.82C24.9849 16.1 25.1315 15.5067 25.4249 15.04C25.7182 14.56 26.1115 14.18 26.6049 13.9C27.0982 13.62 27.6582 13.42 28.2849 13.3C28.9249 13.1667 29.5849 13.0867 30.2649 13.06C30.9449 13.0333 31.6182 13.0333 32.2849 13.06Z"
      fill={nameColor}></path>
    <path
      d="M13.4224 5H15.5624V20H13.4224V5ZM15.5624 14.42L15.2424 12.22C15.2424 11.8733 15.3024 11.4867 15.4224 11.06C15.5424 10.6333 15.749 10.2267 16.0424 9.84C16.349 9.44 16.7624 9.11333 17.2824 8.86C17.8024 8.60667 18.4624 8.48 19.2624 8.48C19.9824 8.48 20.6224 8.62667 21.1824 8.92C21.7557 9.21333 22.2024 9.7 22.5224 10.38C22.8557 11.0467 23.0224 11.9533 23.0224 13.1V20H20.8824V13.36C20.8824 12.7467 20.8224 12.22 20.7024 11.78C20.5824 11.3267 20.3624 10.98 20.0424 10.74C19.7224 10.4867 19.2757 10.36 18.7024 10.36C18.169 10.36 17.6624 10.5133 17.1824 10.82C16.7024 11.1267 16.309 11.58 16.0024 12.18C15.709 12.78 15.5624 13.5267 15.5624 14.42Z"
      fill={nameColor}></path>
    <path
      d="M1.1001 6H3.2601V20H1.1001V6ZM11.5801 6L2.4801 17.46L1.8401 14.9L8.9001 6H11.5801ZM6.1601 11.34L11.9401 20H9.2001L4.9401 13.22L6.1601 11.34Z"
      fill={nameColor}></path>
    <path
      d="M121.163 7.71778C121.216 7.78445 121.223 7.85778 121.183 7.93778C121.143 8.01778 121.076 8.05778 120.983 8.05778C120.689 8.07111 120.363 7.98445 120.003 7.79778C119.656 7.59778 119.303 7.34445 118.943 7.03778C118.596 6.73111 118.263 6.43111 117.943 6.13778C117.636 5.83111 117.369 5.59111 117.143 5.41778C116.969 5.24444 116.783 5.21778 116.583 5.33778C116.169 5.56445 115.796 5.83778 115.463 6.15778C115.143 6.47778 114.829 6.81111 114.523 7.15778C114.229 7.50445 113.916 7.83778 113.583 8.15778C113.423 8.33111 113.236 8.39778 113.023 8.35778C112.929 8.34444 112.849 8.33111 112.783 8.31778C112.716 8.29111 112.629 8.25111 112.523 8.19778C112.309 8.07778 112.249 7.91111 112.343 7.69778C112.556 7.16444 112.856 6.67778 113.243 6.23778C113.643 5.79778 114.049 5.40445 114.463 5.05778C114.756 4.80445 115.063 4.58445 115.383 4.39778C115.703 4.19778 116.049 4.07111 116.423 4.01778C116.809 3.96444 117.249 4.03111 117.743 4.21778C117.929 4.28445 118.116 4.39778 118.303 4.55778C118.489 4.70445 118.683 4.85778 118.883 5.01778C119.069 5.15111 119.309 5.38445 119.603 5.71778C119.896 6.03778 120.189 6.38445 120.483 6.75778C120.776 7.11778 121.003 7.43778 121.163 7.71778Z"
      fill={accent}></path>
    <path
      d="M121.489 1.25497C121.596 1.3483 121.642 1.4683 121.629 1.61497C121.629 1.76164 121.569 1.8683 121.449 1.93497C121.382 1.9883 121.296 2.03497 121.189 2.07497C121.096 2.11497 120.996 2.1683 120.889 2.23497C120.676 2.3683 120.482 2.48164 120.309 2.57497C120.136 2.65497 119.936 2.76831 119.709 2.91497C119.576 2.99497 119.409 3.10164 119.209 3.23497C119.022 3.35497 118.816 3.46164 118.589 3.55497C118.362 3.63497 118.129 3.65497 117.889 3.61497C117.609 3.5483 117.329 3.37497 117.049 3.09497C116.782 2.80164 116.542 2.52164 116.329 2.25497C116.262 2.14831 116.162 2.09497 116.029 2.09497C115.909 2.08164 115.796 2.11497 115.689 2.19497C115.356 2.4483 115.016 2.70164 114.669 2.95497C114.322 3.2083 113.976 3.4683 113.629 3.73497C113.389 3.93497 113.122 3.97497 112.829 3.85497C112.576 3.74831 112.356 3.58164 112.169 3.35497C111.996 3.1283 111.956 2.88164 112.049 2.61497C112.076 2.57497 112.162 2.4883 112.309 2.35497C112.456 2.22164 112.609 2.0883 112.769 1.95497C112.929 1.8083 113.036 1.72164 113.089 1.69497C113.502 1.41497 113.942 1.17497 114.409 0.974971C114.889 0.761638 115.356 0.608303 115.809 0.51497C116.102 0.461637 116.357 0.55605 116.629 0.714971C117.065 0.970186 117.12 1.60055 117.409 2.01497C117.58 2.26069 117.809 2.33497 118.129 2.21497C118.462 2.08164 118.802 1.91497 119.149 1.71497C119.496 1.51497 119.822 1.31497 120.129 1.11497C120.222 1.06164 120.309 0.994972 120.389 0.914972C120.469 0.834971 120.576 0.794971 120.709 0.794971C120.856 0.794971 120.989 0.848304 121.109 0.954971C121.229 1.0483 121.356 1.1483 121.489 1.25497Z"
      fill={accent}></path>
  </svg>

  <!-- Fully custom, since it's a one-off item. -->
  <!--
  <h1 style="font-size:20px;font-weight:600">{SITE_TITLE}</h1>
  -->
</div>
